<!DOCTYPE html>
<head>
    <title>All users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script language="javascript"></script>
</head>
<body>

<script src="all-users.js"></script>

<div class="container" >
    <h2>Lista użytkownikami</h2>
    <table class="table table-condensed" id="allUsers">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Hasło</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
            <th>Lista grup użytkowników</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="trName"></td>
            <td id="trPassword"></td>
            <td id="trFirstName"></td>
            <td id="trLastName"></td>
            <td id="trBirthday"></td>
            <td id="trUserGroups"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>